//body style section


  .header{
      height: 72px;
  }

 //values shared across scss files 
  $background-color: #282c34;
  $text-color: white;
  $board-color: #393d54;
  $card-background-color: rgb(211, 205, 205);
  $list-background-color: rgb(238, 226, 226);