//body style section


  .header{
      height: 72px;
  }

 //values shared across scss files 
  $background-color: #282c34;
  $text-color: white;
  $board-color: #393d54;
  $card-background-color: rgb(255, 255, 255);
  $card-highlight-color: rgb(194, 179, 179);
  $list-background-color: rgb(244, 245, 247);;
  $modal-textarea-background-color: rgba(9, 30, 66, 0.04);
  $black-text-color: rgb(23, 43, 77);
  $success-green: rgb(26, 192, 26);
  $success-green-highlight: rgb(20, 240, 20);
  $danger-red: rgb(207, 81, 61);
  $danger-red-highlight: rgb(226, 81, 67);