.header {
  height: 72px;
}

.card-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f4f5f7;
  padding: 16px;
  border-radius: 3px;
  color: #172b4d;
  font-family: 'Segoe UI';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 768px;
}

@media screen and (max-width: 768px) {
  .card-modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 90%;
  }
}

.card-modal:focus {
  outline-width: 0px;
}

.card-modal .modal-button {
  width: 100px;
  min-height: 32px;
  border: 0px;
  border-radius: 2px;
  font-weight: bold;
}

.card-modal .modal-button:hover {
  cursor: pointer;
}

.card-modal .modal-main-panel, .card-modal .modal-side-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-modal .modal-main-panel {
  width: 82%;
}

.card-modal .modal-main-panel .modal-header-input-label, .card-modal .modal-main-panel .modal-header-input, .card-modal .modal-main-panel .modal-description-label {
  display: block;
  width: 80%;
  background-color: #ffffff00;
  font-size: 20px;
  text-align: left;
  padding: 2px 6px;
  margin: 0px 0;
}

.card-modal .modal-main-panel .modal-header-input-label, .card-modal .modal-main-panel .modal-description-label {
  border: 0px;
  font-weight: 600;
}

.card-modal .modal-main-panel .modal-header-input {
  display: block;
  background-color: #ffffff00;
  border: 0px;
  color: #172b4d;
  font-family: 'Segoe UI';
}

.card-modal .modal-main-panel .modal-header-input:focus {
  background-color: white;
}

.card-modal .modal-main-panel .modal-description-label {
  margin-top: 32px;
}

.card-modal .modal-main-panel .modal-description-textarea {
  margin: 0 6px;
  background-color: rgba(9, 30, 66, 0.04);
  border: 0px;
  border-radius: 5px;
  resize: none;
  min-height: 108px;
  width: 100%;
  color: #172b4d;
  font-family: 'Segoe UI';
  font-size: 14px;
  padding: 6px;
}

.card-modal .modal-main-panel .modal-description-textarea:hover {
  cursor: pointer;
  background-color: #c2b3b3;
}

.card-modal .modal-main-panel .modal-description-textarea:focus {
  background-color: white;
  min-height: 108px;
}

.card-modal .modal-main-panel .modal-description-textarea:focus:hover {
  cursor: text;
}

.card-modal .modal-main-panel .modal-description-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin: 0px 0px;
}

@media screen and (max-width: 200px) {
  .card-modal .modal-main-panel .modal-description-button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-modal .modal-main-panel .modal-description-button-container .modal-description-button {
  background-color: #1ac01a;
  color: white;
  margin: 12px 6px;
}

.card-modal .modal-main-panel .modal-description-button-container .modal-description-button:hover {
  background-color: #14f014;
}

.card-modal .modal-side-panel .modal-exit-container {
  position: absolute;
  top: 0px;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 4px;
  border-radius: 50%;
}

.card-modal .modal-side-panel .modal-exit-container:hover {
  cursor: pointer;
  background-color: #d4c3c3;
}

.card-modal .modal-side-panel .modal-exit-container .modal-exit {
  margin-top: 8px;
}

.card-modal .modal-side-panel .modal-button-card-delete {
  background-color: #cf513d;
  color: white;
  margin-top: 126px;
  font-size: 13.3px;
}

.card-modal .modal-side-panel .modal-button-card-delete:hover {
  background-color: #e25143;
}

@media screen and (max-width: 768px) {
  .card-modal .modal-side-panel .modal-button-card-delete {
    margin-top: 32px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000066;
}
/*# sourceMappingURL=card-modal-style.css.map */